#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#mapTitle {
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
  text-align: center;
  left: 38%;
  background: rgba(255, 255, 255, 1);
  font-family: 'Roboto Condensed', sans-serif;
}

#legend {
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  line-height: 20px;
  top: 8%;
  right: 1px;
  height: 100px;
  width: 110px;
  background: rgba(255, 255, 255, 1);
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  margin: 10px;
  font-size: 1em;
}

.colorBox {
  height: 10px;
  width: 10px;
  float: left;
  margin: 3px 4px 0 0;
}

#mapInfo {
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
  text-align: center;
  bottom: 1%;
  left: 44%;
  background: rgba(255, 255, 255, 1);
  font-family: 'Roboto Condensed', sans-serif;
}

#expanded {
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12.5px;
}
